<ng-container *ngIf="isLoading">
    <div class="loader-wheel spinner">
        <span class="loader-wheel__spoke"></span>
        <span class="loader-wheel__spoke"></span>
        <span class="loader-wheel__spoke"></span>
        <span class="loader-wheel__spoke"></span>
        <span class="loader-wheel__spoke"></span>
        <span class="loader-wheel__spoke"></span>
        <span class="loader-wheel__spoke"></span>
        <span class="loader-wheel__spoke"></span>
        <span class="loader-wheel__spoke"></span>
        <span class="loader-wheel__spoke"></span>
        <span class="loader-wheel__spoke"></span>
        <span class="loader-wheel__spoke"></span>
    </div>
</ng-container>