i {
    position: relative;
    display: inline-block;
    font-size: 1.8rem;
    padding-right: 0.1rem;
    color: #d3d3d3;
}

.filled {
    color: yellow;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}