<ng-container *ngIf="!isloading">
    <div class="mt-3" style="width: 12rem;">
        <select [(ngModel)]="selectedItem" class="form-select form-select-lg">
            <option value="" disabled selected>Select Category</option>
            <option [value]="item.key" *ngFor="let item of products">{{item.key}}</option>
        </select>
    </div>

    <div class="container mt-5">
        <ng-container *ngFor="let item of products | filterProduct:selectedItem">
            <h5 class="mt-3">{{item.key | uppercase}}</h5>
            <div class="row">
                <ng-container *ngFor="let product of item.value">
                    <div class="card col" style="width: 18rem;">
                        <img class="card-img-top" [src]="product.image" alt="product.title">
                        <div class="card-body">
                            <h5 class="card-title">{{product.title}}</h5>
                            <h5>{{product.price | currency}}</h5>
                            <!-- <p class="card-text">{{product.description}}</p> -->
                            <a href="#" class="btn btn-primary">Go somewhere</a>


                            <ng-template #t let-fill="fill">
                                <i class="bi-star-fill">
                                    <i *ngIf="fill > 0" class="bi-star-fill filled" [style.width.%]="fill"></i>
                                </i>
                            </ng-template>

                            <ngb-rating [(rate)]="product.rating.rate" [starTemplate]="t" [readonly]="true" [max]="5">
                            </ngb-rating>
                            <span class="text-primary">{{product.rating.rate}}</span>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="isloading">
    <div class="spinner">
        <div class="spinner-border" role="status">
            <!-- <span class="sr-only">Loading...</span> -->
        </div>
    </div>